body {
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 12px 20px;

  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 30px;               
}

.navbar a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #111;
}

.dropdown {
  position: relative;
}

.dropbtn {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: white;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 4px;
}

.dropbtn:hover {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  min-width: 180px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 100;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.section {
  font-size: 24px;
  margin-bottom: 10px;
}

.completed {
  color: green;
  padding-left: 10px;
}
.reading {
  color: orange;
  padding-left: 10px;
}
.to-read {
  color: red;
  padding-left: 10px;
}

.completed-section {
  margin-bottom: 20px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.current-section {
  margin-bottom: 20px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.to-read-section {
  margin-bottom: 20px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.books-row {
  display: flex;
  height: 270px;
  align-items: center;
  gap: 100px;
  width: fit-content;
  padding-bottom: 10px;
}

.book-container {
  position: relative;
  height: 220px;
  width: 140px;
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  text-align: center;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  position: absolute;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  opacity: 0;
  transition: 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-container:hover .overlay {
  opacity: 1;
}
