body {
  font-family: Arial;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.section {
  font-size: 24px;
  margin-bottom: 10px;
}

.completed {
  color: green;
}
.reading {
  color: orange;
}
.toRead {
  color: red;
}

.books-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

figure {
  text-align: center;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

.book-cover {
  width: 140px;       
  height: 210px;       
  object-fit: cover;   
  display: block;
}

.book-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  opacity: 0;
  padding: 100%;
  text-align: center;
  transition: 0.4s ease;
}

.book-container:hover .overlay {
  opacity: 1;
}

