#completed,
#current,
#to-read {
    padding-top: 30px;
    margin-bottom: 20px;
}

.completed-title,
.reading-title,
.to-read-title {
    padding-left: 10px;
    font-size: 24px;

}

.completed-title {
    color: green;
}

.reading-title {
    color: orange;
}

.to-read-title {
    color: red;
}


.completed-div,
.current-div,
.to-read-div {
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.books-row {
    display: flex;
    height: 270px;
    align-items: center;
    width: fit-content;
    padding-bottom: 10px;
    margin-left: 20px;
    gap: 20px;
}

.book-container {
    position: relative;
    height: 220px;
    width: 140px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.book-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    text-align: center;
    position: absolute;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    opacity: 0;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book-container:hover .overlay {
    opacity: 1;
}


/* for screen sizes above 720px */
@media screen and (min-width: 481px) and (max-width: 720px) {
    .books-row {
        gap: 40px;
    }
}

/* for screen sized above 720px */
@media screen and (min-width: 721px) {
    .books-row {
        gap: 100px;
    }

    .book-container {
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    }
}